/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/*Use width, padding, margin, display for this project. eliminate "word-spacing"*/
*{
	box-sizing:border-box;
	padding:0;
	margin:0;
	max-width:100%;
	border: 3px solid grey;
  }
nav {
	width: 500px;
	display: inline-block;
	border: 10px solid red;
}
.container{
	width:80%;
	border: 2px solid blue;
	padding-top: 5%;
	display:inline-block;
	margin: 0 auto;
	position: relative;
	left: 200px;
}
.logo{
	position: relative;
	display: inline-block;
	width: 20%;
	bottom: -15px;
}

body {
	width: 100%;
	margin: 0 5%;
}
h1{
	font-size: 85px;
	margin: 0 20%;
	text-align: center;
	position: relative;
	transform: translateX(-1000%);
	transform: translateY(100%);  
}
.tagline {
	width: 50%;
	display: inline-block;
	position: relative;
	transform: translateX(-1000%);
	transform: translateY(2%);
	padding-top: 1%;
}
.imagelogo{
	width: 50%;
    margin: 1.5% 10% 20%;
	display: inline-block;
	position: relative;
	left: 500px;
}
	
.featureblock {
	box-sizing: border-box;
	width: 150%;
	border: 15px;

}
#about{
	width: 30%;
	margin: 22px;
	display: inline-block;
	padding-bottom: 0%;
}
#features{
	width: 30%;
	margin: 22px;
	margin-bottom: 16px;
	margin-top: 16px;
	display: inline-block;
	padding-bottom: 0%;
	padding-top: 2%;
}

  .secondblock {
	box-sizing: border-box;
  display: grid;
  width: 50%;
  grid-template-columns: .1px 1px 1px;
  align-items: start;
  justify-content: space-between;
}
#services, #product, #vision{
  display: grid;
  align-items: start;
  justify-content: space-between;
  padding: 100%;
  position: relative;
  right: -300px;
  margin: 0 auto;
  line-height: .9;
}
#services .stext{
	
	text-align:left;
	display: inline-block;
	width: 100%;
  }
  #product .ptext{

	text-align:left;
	display: inline-block;
	width: 100%;
  }
  #vision .vtext{

	text-align:left;
	display: inline-block;
	width: 100%;
  }
title{
	text-align: right;
}
button .thebutton{
	display: inline-block;
	margin-left: -121px;
	margin-top: 1px;
	width: 10%;
	position: relative;
	transform: translateX(-1000%);
	transform: translateY(2%);
}